/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #faf9fb; /* Creamy background */
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Dark navbar */
  padding: 15px 50px;
  margin-top: 25px;
  border-radius: 90px;
  height: auto;
}

.logo {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 400px;

}

.nav-links li {
  margin:  15px;
  
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f4d03f;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  max-width: 50%;
 
  
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.highlight {
  color: #d35400;
}

.hero-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  
}

.button{
  /* margin-right: 200px; */
  margin-top: 60px;
  /* width: 120px; */
  height: 200px;
  
}
.button a{
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}
.button :hover{
  color: #e87532;
}
.button1{
  height: 50px;
  
  width: 200px;
  list-style: none;
  /* display: flex; */

}
.button2{
  height: 50px;
  width: 200px;
  margin-left: 50px;
  list-style: none;
  /* display: flex; */

}


/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-text, .hero-image {
    max-width: 100%;
  }
}
